<footer>
      
            <div class="container-fluid">
                   <div class="row">
                         <div class="col" class="jumbotron">
                                     <p> Designed by HCL Team </p>
                         </div>
                         <div class="col" id="links">
                                    <a routerLink="home">Home</a><br>
                                    <a href="#">About</a><br>
                                    <a href="#">Other Links</a>
                         </div>
                          <div class="col" class="jumbotron" id="Contacts">
                                    <p>Contacts :</p> 
                                    <p>Email     : Medicaltest@gmail.com</p>
                                    <p>Instagram : #####</p>                            
                          </div>
 
                   </div>     
            </div>
</footer>