
<!-- <div>
    <ul > 
             <li class="register"><a  (click)="register()"       style="color: white;cursor: pointer;">Register    </a></li>
             <li class="login"><a     (click)="login()"          style="color: white;cursor: pointer;">Login       </a></li>     
    </ul>
</div>
<div class="heading">
    <h2> Awareness </h2>
</div>
<div class="row">
       <a href="https://www.mohfw.gov.in/pdf/socialdistancingEnglish.pdf">
                  <div class="col" class="jumbotron"  id="link1">    
                        
                  </div>
       </a>
       <a href="https://www.mohfw.gov.in/pdf/FINAL_14_03_2020_ENg.pdf">
                  <div class="col" class="jumbotron"  id="link2">    
                  
                  </div>
      </a>
</div>
<div class="row">
     <a href="https://www.mohfw.gov.in/pdf/ProtectivemeasuresEng.pdf">
                  <div class="col" class="jumbotron"  id="link3" >    
                       <img src=".../">
                  </div>
     </a>
     <a href="https://www.mohfw.gov.in/pdf/PostrerEnglishtraveller.pdf">
          <div class="col" class="jumbotron"  id="link4">    
                
          </div>
    </a>
    <li class="nav-item pr-5"><a class="nav-link font-weight-bold" (click)="register()">Register</a></li>
             <li class="nav-item pr-5"><a class="nav-link font-weight-bold" (click)="login()">Login</a></li>
</div> -->
    <!doctype html>
<html lang="en">

<head>
   
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
   
    <title>Hello, world!</title>
</head>

<body>
    <!-- <nav class="navbar navbar-expand-lg navbar-light bg-white">
        <a class="navbar-brand font-weight-bold pl-5" href="#">Medical Management System</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active pr-5">
                    <a class="nav-link font-weight-bold" routerLink="home">Home</a>
                </li>
        
                <li class="nav-item pr-5"><a class="nav-link font-weight-bold" (click)="register()">Register</a></li>
                <li class="nav-item pr-5"><a class="nav-link font-weight-bold" (click)="login()">Login</a></li>
        
            </ul>
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>
    </nav> -->

    

    <section class="home">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-8 col-sm-12 col-12">
                    <h1>YOUR SMILE <br>
                        OUR <span style="color: rgb(248, 70, 129);">PASSION</span><br>
                        YOUR LIFE</h1>
                    <button class="btn btn-danger mt-3 px-5">Read More</button>
                </div>
            </div>
        </div>
    </section>

    <section class="about">
        <div class="container py-5">
            <div class="row">
                <div class="col-lg-6">
                    <img src="https://cdn.pixabay.com/photo/2020/03/14/17/05/virus-4931227_960_720.jpg"
                        class="img-fluid" style="border-radius: 40px;" alt="">
                </div>
                <div class="col-lg-6 text-center">
                    <h1 class="py-5 text-center" style="color: palevioletred;">About Us</h1>
                    <p class="text-center pl-5">Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt
                        possimus eligendi at error tempora,
                        cupiditate similique beatae eos iste eaque a porro neque? Ab iusto nobis esse quam tempore magni
                        vel quisquam impedit obcaecati non!</p>
                    <button class="btn" style="background-color: palevioletred;">Read More</button>
                </div>
            </div>
            </div>
    </section>

    <section class="doctor">
        <div class="container text-center">
            <h1 class="pt-5">Our Doctors</h1>
            <hr>
            <div class="row">
                <div class="col-lg-3">
                    <div class="card">
                        <div class="card-head">
                            <p class="font-weight-bold">Ashritha <br><small> ANDHRA PRADESH</small></p>
                            <img src="https://cdn.pixabay.com/photo/2017/01/29/21/16/nurse-2019420__340.jpg"
                                class="img-fluid" alt="">
                            <p class="pt-3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus a, est
                                voluptatem eius, laborum perferendis eum dicta corrupti commodi praesentium nam tempore
                                iusto eaque? Tempora!</p>
                            <span><img
                                    src="https://cdn.pixabay.com/photo/2021/02/08/15/34/social-media-5995251_960_720.png"
                                    class="img-fluid" alt=""></span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="card">
                        <div class="card-head">
                            <p class="font-weight-bold">Vamsi <br><small> CHENNAI</small></p>
                            <img src="https://cdn.pixabay.com/photo/2020/11/03/15/31/doctor-5710150__340.jpg"
                                class="img-fluid" alt="">
                            <p class="pt-3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus a, est
                                voluptatem eius, laborum perferendis eum dicta corrupti commodi praesentium nam tempore
                                iusto eaque? Tempora!</p>
                            <span><img
                                    src="https://cdn.pixabay.com/photo/2021/02/08/15/34/social-media-5995251_960_720.png"
                                    class="img-fluid" alt=""></span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="card">
                        <div class="card-head">
                            <p class="font-weight-bold">Elakiya <br><small>BANGLORE</small></p>
                            <img src="https://cdn.pixabay.com/photo/2017/03/20/00/51/dr-2157993__340.jpg"
                                class="img-fluid" alt="">
                            <p class="pt-3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus a, est
                                voluptatem eius, laborum perferendis eum dicta corrupti commodi praesentium nam tempore
                                iusto eaque? Tempora!</p>
                            <span><img
                                    src="https://cdn.pixabay.com/photo/2021/02/08/15/34/social-media-5995251_960_720.png"
                                    class="img-fluid" alt=""></span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="card">
                        <div class="card-head">
                            <p class="font-weight-bold">Atul Kumar <br><small>MUMBAI</small></p>
                            <img src="https://cdn.pixabay.com/photo/2020/11/02/19/52/doctor-5707722__340.jpg"
                                class="img-fluid" alt="">
                            <p class="pt-3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus a, est
                                voluptatem eius, laborum perferendis eum dicta corrupti commodi praesentium nam tempore
                                iusto eaque? Tempora!</p>
                            <span><img
                                    src="https://cdn.pixabay.com/photo/2021/02/08/15/34/social-media-5995251_960_720.png"
                                    class="img-fluid" alt=""></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="service">
        <div class="container text-center py-5">
            <h1>Our Services</h1>
            <hr>
            <div class="row">
                <div class="col-lg-4 mb-3">
                    <!-- <span><i class="fa-solid fa-user-nurse"></i></span> -->
                    <img src="https://cdn.pixabay.com/photo/2013/02/09/04/19/surgery-79584_960_720.jpg"
                        class="img-fluid" alt="">
                    <h2 class="font-weight-light">Team Of Nurses</h2>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                        Cum, assumenda. Aspernatur facere vel distinctio labore.</p>

                </div>
                <div class="col-lg-4 mb-3">

                    <img src="https://cdn.pixabay.com/photo/2013/07/13/11/35/red-cross-158454__340.png"
                        class="img-fluid" alt="">
                    <h2 class="font-weight-light">Aid Boxes</h2>
                    <span><i class="fa-solid fa-briefcase-medical"></i></span>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                        Cum, assumenda. Aspernatur facere vel distinctio labore.</p>
                </div>
                <div class="col-lg-4 mb-3">
                    <span><img src="https://cdn.pixabay.com/photo/2015/08/26/15/07/first-aid-908591__480.jpg"
                            class="img-fluid" alt=""></span>
                    <h2 class="font-weight-light">Better Treatment</h2>
                    <span><i class="fa-solid fa-syringe"></i></span>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                        Cum, assumenda. Aspernatur facere vel distinctio labore.</p>
                </div>
                <div class="col-lg-4 mb-3">
                    <span><img src="https://cdn.pixabay.com/photo/2022/01/26/09/06/coronavirus-6968314__340.jpg"
                            class="img-fluid" alt=""></span>
                    <h2 class="font-weight-light">Disease Recovery</h2>
                    <span><i class="fa-solid fa-microscope"></i></span>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                        Cum, assumenda. Aspernatur facere vel distinctio labore.</p>
                </div>
                <div class="col-lg-4 mb-3">
                    <span><img src="https://cdn.pixabay.com/photo/2021/11/20/03/16/doctor-6810750__340.png"
                            class="img-fluid" alt=""></span>
                    <h2 class="font-weight-light">Check-up Time</h2>
                    <span><i class="fa-solid fa-stethoscope"></i></span>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                        Cum, assumenda. Aspernatur facere vel distinctio labore.</p>
                </div>
                <div class="col-lg-4 mb-3">
                    <span><img src="https://cdn.pixabay.com/photo/2015/10/31/12/34/doctor-1015624__340.jpg"
                            class="img-fluid" alt=""></span>
                    <h2 class="font-weight-light">Active Emergency</h2>
                    <span><i class="fa-solid fa-hospital"></i></span>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                        Cum, assumenda. Aspernatur facere vel distinctio labore.</p>
                </div>
            </div>
        </div>
    </section>

    <section class="blog">
        <div class="container text-center">
            <h1>Latest From Blog</h1>
            <hr>
            <div class="row">
                <div class="col-lg-3">
                    <div class="card">
                        <div class="card-head">
                            <img src="https://cdn.pixabay.com/photo/2020/04/16/15/39/medical-5051148_960_720.jpg"
                                class="img-fluid" alt="">
                        </div>
                        <div class="card-body">
                            <p class="font-weight-bold"><u><a href="#"> Attitude of our doctors</a></u></p>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste, soluta.</p>
                        </div>

                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="card">
                        <div class="card-head">
                            <img src="https://cdn.pixabay.com/photo/2016/11/14/03/05/surgery-1822458__340.jpg"
                                class="img-fluid" alt="">
                        </div>
                        <div class="card-body">
                            <p class="font-weight-bold"><u><a href="#"> Attitude of our doctors</a></u></p>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste, soluta.</p>
                        </div>

                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="card">
                        <div class="card-head">
                            <img src="https://cdn.pixabay.com/photo/2020/05/18/18/00/doctor-5187733__340.png"
                                class="img-fluid" alt="">
                        </div>
                        <div class="card-body">
                            <p class="font-weight-bold"><u><a href="#"> Attitude of our doctors</a></u></p>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste, soluta.</p>
                        </div>

                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="card">
                        <div class="card-head">
                            <img src="https://cdn.pixabay.com/photo/2016/11/08/05/29/surgery-1807541__480.jpg"
                                class="img-fluid" alt="">
                        </div>
                        <div class="card-body">
                            <p class="font-weight-bold"><u><a href="#"> Attitude of our doctors</a></u></p>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste, soluta.</p>
                        </div>

                    </div>
                </div>
            </div>
        </div>

    </section>
    <section class="call">
        <div class="container text-center py-5">
            <div class="row">
                <div class="col-lg-4">
                    <span><img src="https://cdn.pixabay.com/photo/2016/06/06/16/39/phone-1439839__340.png"
                            class="img-fluid" alt=""></span>
                    <h5>Give us a call</h5>
                </div>
                <div class="col-lg-4">
                    <span><img src="https://cdn.pixabay.com/photo/2016/11/30/18/14/tag-1873545__340.png"
                            class="img-fluid" alt=""></span>
                    <h5>Search us on Google</h5>
                </div>
                <div class="col-lg-4">
                    <span><img src="https://cdn.pixabay.com/photo/2016/06/13/17/30/mail-1454731__340.png"
                            class="img-fluid" alt=""></span>
                    <h5>Mail us</h5>
                </div>
            </div>
        </div>
    </section>

    <section class="contact">
        <div class="container text-white py-5">
            <h1 class="text-center">Contact Us</h1>
            <div class="row">
                <div class="col-lg-5">
                    <form>
                        <div class="form-group row">
                            <label for="staticEmail" class="col-sm-2 col-form-label font-weight-bold"
                                style="color: greenwhite;">Email</label>
                            <div class="col-sm-10">
                                <input type="text" readonly class="form-control-plaintext" id="staticEmail"
                                    value="email@example.com">
                            </div>
                        </div>
                        <!-- <div class="form-group row">
                            <label for="inputPassword" class="col-sm-2 col-form-label font-weight-bold">Password</label>
                            <div class="col-sm-10">
                                <input type="password" class="form-control" id="inputPassword">
                            </div>
                        </div> -->
                    </form>
                </div>
            </div>
        </div>
    </section>


    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
</body>

</html>