<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>Hello, world!</title>
</head>

<body>
    <section>
        <div class="container-fluid">
            <div class="row">
                <div class="jumbotron">
                    <h2>List Of Centers</h2>
                    <hr>
                    <table class="table">
                        <tr>
                            <th>Center Id</th>
                            <th>Center Name</th>
                            <th>Action</th>
                        </tr>
                        <tr *ngFor="let center of centerList,index as i">
                            <td>{{center.centerId}}</td>
                            <td>{{center.centerName}}</td>
                            <td><button type="button" (click)="onClickSubmit(center.centerId)"
                                    class="btn btn-info">Select</button></td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>

        <div class="container-fluid">
            <div class="row">
                <div class="jumbotron" *ngIf="appointmentList">
                    <h2>List Of Appointments</h2>
                    <hr>
                    <table class="table">
                        <tr>
                            <th>User Id</th>
                            <th>Test Id</th>
                            <th>Appointment Id</th>
                            <th>Time</th>
                            <th>Action</th>
                        </tr>
                        <tr *ngFor="let appointment of appointmentList">

                            <td>{{appointment.userId}}</td>
                            <td>{{appointment.testId}}</td>
                            <td>{{appointment.appointmentId}}</td>
                            <td>{{appointment.dateTime | date:'d-M-y'}}<br>
                                {{appointment.dateTime | date:'shortTime'}}
                            </td>
                            <td><button type="button" (click)="approveAppointment(appointment.appointmentId,true)"
                                    class="btn btn-success" [disabled]="appointment.approved">Accept</button></td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>

        <div class="container">
            <button type="button" (click)="goBack()" class="btn btn-success">Go Back</button>
        </div>
    </section>
</body>

</html>