<header id="head">
      <app-header></app-header>
</header>
<div>
       <body>
            <!-- <div class="heading">
                  <h2> Awareness </h2>
            </div>
            <div class="row">
                    
                     <a href="https://www.mohfw.gov.in/pdf/socialdistancingEnglish.pdf">
                                <div class="col" class="jumbotron"  id="link1">    
                                      
                                </div>
                     </a>
                     <a href="https://www.mohfw.gov.in/pdf/FINAL_14_03_2020_ENg.pdf">
                                <div class="col" class="jumbotron"  id="link2">    
                                
                                </div>
                    </a>
            </div>
            <div class="row">
                   <a href="https://www.mohfw.gov.in/pdf/ProtectivemeasuresEng.pdf">
                                <div class="col" class="jumbotron"  id="link3">    
                                
                                </div>
                   </a>
                   <a href="https://www.mohfw.gov.in/pdf/PostrerEnglishtraveller.pdf">
                        <div class="col" class="jumbotron"  id="link4">    
                              
                        </div>
                  </a>
            </div> -->
             <div>
                  <router-outlet></router-outlet>
             </div>                       
       </body>        
<footer>
      <app-footer></app-footer>
</footer>
</div>