<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>Hello, world!</title>
</head>

<body>
    <section>
        <nav>
            <div>
                <ul>
                    <li class="col-md-3"><a routerLink="addcenter" style="color: white;">Add Center </a></li>
                    <!-- <li class="col-md-3"><a routerLink="updatecenter" style="color: white;">Update Center </a></li> -->
                    <li class="col-md-3"><a routerLink="removecenter" style="color: white;">Delete Center </a></li>
                    <li class="col-md-3"><a routerLink="getAllCenters" style="color:white;">View All Centers</a></li>
                    <li class="col-md-3"><a routerLink="addtest" style="color: white;">Add Test </a></li>
                    <li class="col-md-3"><a routerLink="removetest" style="color:white;">Delete Test </a></li>
                    <li class="col-md-3"><a routerLink="approveappointment" style="color:white;">Approve Appointment</a></li>
                    <li class="col-md-3"><a (click)="logout()" style="color: white;cursor: pointer;">Logout </a>
                    </li>
                </ul>
            </div>
        </nav>
        <div class="col-lg-15">
            <img src="https://cdn.pixabay.com/photo/2020/08/03/09/39/medical-5459631_960_720.png"
                class="img-fluid" height="100%" alt="">
        </div>
    </section>
</body>

</html>